<div class="container-wrap mt-5">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 img" style="background-image: url('{{site.base_asset}}images/about-2.jpg');">
      </div>
      <div class="col-md-6 d-flex">
        <div class="about-wrap">
          <div class="heading-section heading-section-white mb-5 ftco-animate">
            <h2 class="mb-2">{{site.data.text[page.lang].feature_title}}</h2>
            <p></p>
          </div>
          {% for feature in site.data.features[page.lang] %}
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-check2"></span>
            </div>
            <div class="text">
              <h3>{{feature.title}}</h3>
              <p>{{feature.desc}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>