<div class="container-wrap mt-5">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 img" style="background-image: url(images/about-2.jpg);">
      </div>
      <div class="col-md-6 d-flex">
        <div class="about-wrap">
          <div class="heading-section heading-section-white mb-5 ftco-animate">
            <h2 class="mb-2">Dental care with a personal touch</h2>
            <p></p>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-check2"></span>
            </div>
            <div class="text">
              <h3>Well Experienced Dentist</h3>
              <p>Orthodontic Specialized dentist with 25 years of experience.</p>
            </div>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-check2"></span>
            </div>
            <div class="text">
              <h3>Affordable Price</h3>
              <p>Affordable price for middle class customers.</p>
            </div>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-check2"></span>
            </div>
            <div class="text">
              <h3>Comfortable Clinics</h3>
              <p>Friendly and comfortable clinics.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>