<section id="gallery" class="ftco-gallery">
    <div class="container-wrap pt-5">
      <div class="row no-gutters mt-5">
        <div class="col-md-3 ftco-animate">
          <a href="{{site.base_asset}}images/gallery-1.jpg" class="gallery img d-flex align-items-center image-popup" style="background-image: url('{{site.base_asset}}images/gallery-1.jpg');">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ftco-animate">
          <a href="{{site.base_asset}}images/gallery-2.jpg" class="gallery img d-flex align-items-center image-popup" style="background-image: url('{{site.base_asset}}images/gallery-2.jpg');">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ftco-animate">
          <a href="{{site.base_asset}}images/gallery-3.jpg" class="gallery img d-flex align-items-center image-popup" style="background-image: url('{{site.base_asset}}images/gallery-3.jpg');">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ftco-animate">
          <a href="{{site.base_asset}}images/gallery-4.jpg" class="gallery img d-flex align-items-center image-popup" style="background-image: url('{{site.base_asset}}images/gallery-4.jpg');">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-search"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>