<section class="ftco-quote">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-md-5 aside-stretch py-5 choose">
          <div class="heading-section heading-section-white mb-5 ftco-animate">
            <h2 class="mb-2">DentaCare Procedure &amp; High Quality Services</h2>
          </div>
          <div class="ftco-animate">
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. Because there were thousands of bad Commas, wild Question Marks and devious Semikoli</p>
            <ul class="un-styled my-5">
              <li><span class="icon-check"></span>Consectetur adipisicing elit</li>
              <li><span class="icon-check"></span>Adipisci repellat accusamus</li>
              <li><span class="icon-check"></span>Tempore reprehenderit vitae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 py-5 pl-md-5">
          <div class="heading-section mb-5 ftco-animate">
            <h2 class="mb-2">Get a Free Quote</h2>
          </div>
          <form action="#" class="ftco-animate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Full Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Website">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Get a Quote" class="btn btn-primary py-3 px-5">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>