<section id="services" class="ftco-section ftco-services">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2">Our Service Keeps you Smile</h2>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-tooth-with-braces"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Orthodontic Treatment</h3>
              <p>Teeth are not straight? Get your braces and have a perfect smile.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-tooth"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Teeth Whitening</h3>
              <p>Have yellow teeth? Get a brighter and healthier smile you've been wanting.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-dental-care"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Teeth Cleaning</h3>
              <p>Teeth looks dirty? Clean your teeth now with affordable price.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-anesthesia"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Modern Anesthetic</h3>
              <p>Afraid of pain? our modern Anesthetic will not let you feel any pain.</p>
            </div>
          </div>              </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-dental-care"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Dental Calculus</h3>
              <p>Have tartar in your teeth? Treat it now before bigger problem arise.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-bacteria"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Paradontosis Treatment</h3>
              <p>Paradontosis is an infectious disease of periodontal tissues that can lead to loosening and loss of teeth.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-dentist"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Dental Surgery</h3>
              <p>Any dental surgery you need at your service.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-dental-care-1"></span>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">Dental Fillings</h3>
              <p>Have cavities in your teeth? Get a filling with the type of your choice.</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
    {% include features.html %}
  </section>