<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Welcome to Hazwan & Alia Dental Clinic</h1>
          <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Every clinic says they care. We do more. We listen</p>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary px-4 py-3">Get Free Consultation</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image: url('images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Welcome to Hazwan & Alia Dental Clinic</h1>
          <p class="mb-4">Feel Great About Your Smile And Your Dentist</p>
          <p><a href="#" class="btn btn-primary px-4 py-3">Make an Appointment</a></p>
        </div>
      </div>
    </div>
  </div>
</section>