<section id="home" class="home-slider owl-carousel">
  {% for slider in site.data.carousel[page.lang] %}
  <div class="slider-item" style="background-image: url('{{slider.image}}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">
        <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{slider.title}}</h1>
          <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{slider.desc}}</p>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" data-toggle="modal" data-target="#modalRequest" class="btn btn-primary px-4 py-3">{{slider.button}}</a></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>